@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Gruppo&family=Montserrat:wght@400;900&family=Orbitron:wght@400;600&family=Oswald:wght@200;700&family=Quantico:wght@400;700&family=Red+Rose:wght@300;700&display=swap'); */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Red Rose", cursive;
}
 body{
  background-image: url(./assets/background-image.png);
  background-color: #1e1d1dcc;
  background-size: cover;
  background-blend-mode: darken;
  overflow-y:hidden; 
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar{
  height: 20%;
}

.logo{
  width: 120px;
  display: inline-block;
  margin: 20px 0 0 60px;

}
.list{
  list-style-type: none;
  text-align: center;
  margin-top: -30px;
}
.list-item{
  display: inline;
  padding: 20px;
  font-family: "Red Rose";
  color: #d8b00e;
} 
.button-small{
  float: right;
  height: 45px;
  width: 120px;
  padding: 5px;
  background-color:#EB4D4B;
  color: #fff;
  font-family: "Red Rose";
  font-size: 18px;
  border: none;
  margin-right: 80px;
  margin-top: -45px;
  cursor: pointer; 
  transition: 0.25s;
}
.button-small:hover{
  background-color: transparent;
  border: 2px solid #EB4D4B;
}
/* ---------------------------------------------End of Nav-bar----------------------------------- */
.hero h1{
  font-size:95px;
  width: 900px;
  color: #d8b00e;
  text-align: center;
  font-weight: 700;
  font-family: 'Red Rose';
  line-height: 90px;
  margin-left: 20%;
  margin-top: 100px;
}
.button-large{
  background-color:#ee3936;
  color: #fff;
  width: 250px;
  height: 65px;
  cursor: pointer;
  border:none;
  font-size: 23px;
  font-family: "Red Rose";
  margin-left: 41%;
  transition: 0.25s;
}
.button-large:hover{
  background-color: transparent;
  border: 2px solid #ee3936;
}
.bottom{
  position: absolute;
  right:60px;
  bottom: 60px;
}
/* -----------------------------------------End of Hero section--------------------------------- */

